/*******************************************************************************
    Ajustes al tema
*******************************************************************************/
.bottom-footer body {
    padding-bottom: 0px;
}
.navbar-brand {
    font-weight: 400;
}
.cover.overlay.home .page-section {
    bottom: 5vh;
}